@{
    ViewData["Title"] = "Home Page";
}

@model List<CoveyTask>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quadrants View</title>
    <style>
        .border-box {
            border: 1px solid #000;
            margin-bottom: -1px;
            position: relative;
            overflow: hidden;
        }

        .bordered {
            border: 1px solid #000;
        }
    </style>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <div class="container mt-4">
        <div class="row mb-4">
            <div class="col-12 text-center">
                <h1>Stephen Covey's Time Management Matrix</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-1 align-self-center pl-0">
                <div style="font-weight:bold">IMPORTANT</div>
            </div>
            <div class="col-11">
                <div class="row">
                    <div class="col-6 text-center">
                        <h2>Urgent</h2>
                    </div>
                    <div class="col-6 text-center">
                        <h2>Not Urgent</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 border-box">
                        <h3>Quadrant I: Important / Urgent</h3>
                        <!-- Tasks for Quadrant I -->
                        @foreach (var task in Model.Where(x => x.Quadrant == "1" && !x.Completed))
                        {
                            <tbody>
                                <tr>
                                    <td>@task.TaskName</td>
                                    <td>@task.DueDate.ToShortDateString()</td>
                                    <td>@(task.Category != null ? task.Category.CategoryName : "N/A")</td>
                                    <td><a class="btn btn-info" asp-controller="Home" asp-action="UpdateTask" asp-route-id="@task.TaskId">Edit</a></td>
                                    <td><a class="btn btn-danger" asp-controller="Home" asp-action="DeleteTask" asp-route-id="@task.TaskId">Delete</a></td>
                                </tr>
                            </tbody>
                            <br />
                        }
                    </div>
                    <div class="col-6 border-box">
                        <h3>Quadrant II: Important / Not Urgent</h3>
                        <!-- Tasks for Quadrant II -->
                        @foreach (var task in Model.Where(x => x.Quadrant == "2" && !x.Completed))
                        {
                            <tbody>
                                <tr>
                                    <td>@task.TaskName</td>
                                    <td>@task.DueDate.ToShortDateString()</td>
                                    <td>@(task.Category != null ? task.Category.CategoryName : "N/A")</td>
                                    <td><a class="btn btn-info" asp-controller="Home" asp-action="UpdateTask" asp-route-id="@task.TaskId">Edit</a></td>
                                    <td><a class="btn btn-danger" asp-controller="Home" asp-action="DeleteTask" asp-route-id="@task.TaskId">Delete</a></td>
                                </tr>
                            </tbody>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-1 align-self-center pl-0">
                <div style="font-weight:bold">NOT IMPORTANT</div>
            </div>
            <div class="col-11">
                <div class="row">
                    <div class="col-6 border-box">
                        <h3>Quadrant III: Not Important / Urgent</h3>
                        <!-- Tasks for Quadrant III -->
                        @foreach (var task in Model.Where(x => x.Quadrant == "3" && !x.Completed))
                        {
                            <tbody>
                                <tr>
                                    <td>@task.TaskName</td>
                                    <td>@task.DueDate.ToShortDateString()</td>
                                    <td>@(task.Category != null ? task.Category.CategoryName : "N/A")</td>
                                    <td><a class="btn btn-info" asp-controller="Home" asp-action="UpdateTask" asp-route-id="@task.TaskId">Edit</a></td>
                                    <td><a class="btn btn-danger" asp-controller="Home" asp-action="DeleteTask" asp-route-id="@task.TaskId">Delete</a></td>
                                </tr>
                            </tbody>
                        }
                    </div>
                    <div class="col-6 border-box">
                        <h3>Quadrant IV: Not Important / Not Urgent</h3>
                        <!-- Tasks for Quadrant IV -->
                        @foreach (var task in Model.Where(x => x.Quadrant == "4" && !x.Completed))
                        {
                            <tbody>
                                <tr>
                                    <td>@task.TaskName</td>
                                    <td>@task.DueDate.ToShortDateString()</td>
                                    <td>@(task.Category != null ? task.Category.CategoryName : "N/A")</td>
                                    <td><a class="btn btn-info" asp-controller="Home" asp-action="UpdateTask" asp-route-id="@task.TaskId">Edit</a></td>
                                    <td><a class="btn btn-danger" asp-controller="Home" asp-action="DeleteTask" asp-route-id="@task.TaskId">Delete</a></td>
                                </tr>
                            </tbody>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>
</html>
